<h1><%= @publication.branch.title %></h1>
<p>
  <b>Publisher:</b>
  <%= @publication.user.login %>
</p>

<div id="points">
 <%= raw(points(@publication.points)) %>
</div>

<p><%= @publication.branch.story %></p>

<%= raw(upvote(@publication)) %>
