<h1><%= @user.login %></h1>

<div id='follow'>
  <%= raw(follow(@user.id)) %>
</div>

<p>Points: <%= @user.points %></p>

<p>Followers: <%= @user.followers.count %></p>

<%= render :partial => 'branches/list', :object => @user.branches, :as => :branches %>
