<h1>Welcome to Story Tree!</h1>

<p>
  Welcome to StoryTree!
  StoryTree is a social story building game. Collaborate and build off other players with creative posts.
  Good posts will win you points which are redeemable for new seeds and publication rights.
  <%= link_to 'register', new_user_path %> or <%= link_to 'login', new_session_path %> to start playing.
</p>

<h2>Hot seeds right now</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Points</th>
  </tr>
  <% @seeds.each do |seed| %>
  <tr>
    <td><%= link_to seed.title, forest_seed_leaf_path(seed.forest_id, seed.id, seed.id) %></td>
    <td><%= seed.leaf_text %></td>
    <td><%= seed.author.login %></td>
    <td><%= seed.points %></td>
  </tr>
  <% end %>
</table>
