<h1><%= @leaf.root.seed_detail.title %></h1>

<div id='story' class='dialogue'>
  <%= render 'leaves/story' %>
</div>

<h3>Choose the next Leaf</h3>
<div id='branches' class='dialogue'>
  <%= render 'leaves/branches' %>
</div>

<div id='leaf'>
  <h3>Write your own Leaf</h3>
  <%= form_for @branch, :remote => true do |f| %>
    <%= f.text_area :leaf_text %><br/>
    <%= f.hidden_field :parent_id, :value => @leaf.id %>
    <%= f.submit 'Add' %>
  <% end %>
</div>

<h4>Page: <%= @leaf.depth + 1 %></h4>
