<h1><%= @leaf.root.seed_detail.title %></h1>

<div id='story' class='dialogue'>
  <% @leaf.ancestors.each do |leaf|  %>
    <div id='<%= leaf.id %>' class='page'>
      <%= leaf.leaf_text %>
    </div>
  <% end %>
  <div id='<%= @leaf.id %>' class='page'>
    <%= @leaf.leaf_text %>
  </div>
</div>

<h3>Choose the next Leaf</h3>
<div id='branches' class='dialogue' style='display:none;'>
  <% @leaf.children.each do |branch| %>
    <div id='<%= branch.id %>' class='branch'>
      <div class='stats'>
        [<%= branch.points %> points]
        [<%= branch.children.count %> branches]
        [by <%= branch.author.name %>]
      </div>
      <%= branch.leaf_text %>
    </div>
  <% end %>
</div>

<h3>Write your own Leaf</h3>
<div id='leaf' class='dialogue'>
  <%= form_for @branch, :url => forest_seed_leaves_path(params[:forest_id], params[:seed_id]), :remote => true do |f| %>
    <div class='field'>
      <%= f.text_area :leaf_text, :rows => 5 %><br/>
    </div>
    <%= f.hidden_field :parent_id, :value => @leaf.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :forest_id, :value => params[:forest_id] %>
    <div class='action'>
      <%= f.submit 'Add' %>
    </div>
  <% end %>
</div>

<%= link_to 'View all Seeds', forest_path(params[:forest_id]) %>
