<h1><%= @leaf.root.seed_detail.title %></h1>

<div id='story' class='dialogue'>
  <%= render 'leaves/story' %>
</div>

<h3>Choose the next Leaf</h3>
<div id='branches' class='dialogue'>
  <%= render 'leaves/branches' %>
</div>

<h3>Write your own Leaf</h3>
<div id='leaf' class='dialogue'>
  <%= form_for @branch, :remote => true do |f| %>
    <%= f.text_area :leaf_text, :rows => 5 %><br/>
    <%= f.hidden_field :parent_id, :value => @leaf.id %>
    <%= f.submit 'Add' %>
  <% end %>
</div>
