<h1><%= @leaf.root.title %></h1>

<div id='story' class='dialogue'>
  <% @leaf.ancestors.each do |leaf|  %>
    <div id='<%= leaf.id %>' class='page'>
      <%= leaf.leaf_text %>
    </div>
  <% end %>
  <div id='<%= @leaf.id %>' class='current'>
    <%= @leaf.leaf_text %>
  </div>
</div>

<h3>Choose the next Leaf</h3>
<div id='branches' class='dialogue' style='display:none;'>
  <% @leaf.children.each do |branch| %>
    <%= render :partial => 'branch', :object => branch %>
  <% end %>
</div>

<h3>Write your own Leaf</h3>
<div id='leaf' class='dialogue'>
  <%= form_for @branch,
    :url => forest_seed_leaf_path(params[:forest_id], params[:seed_id], params[:id]),
    :remote => true, :validations => true do |f| %>
    <div class='field'>
      <%= f.text_area :leaf_text, :rows => 5 %><br/>
    </div>
    <div class='action'>
      <%= f.submit 'Add' %>
    </div>
  <% end %>
</div>
