<h1>Seeds</h1>

<%= link_to 'Plant New Seed', new_forest_seed_path %><br/>
<br/>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Forest</th>
    <th>Points</th>
  </tr>
  <% @seeds.each do |seed| %>
  <tr>
    <td><%= link_to seed.seed_detail.title, leaf_path(seed) %></td>
    <td><%= seed.leaf_text %></td>
    <td><%= seed.author.name %></td>
    <td><%= seed.forest.name %></td>
    <td><%= seed.points %></td>
  </tr>
  <% end %>
</table>
