<h1>Plant Seed</h1>

<%= form_for @seed, :url => forest_seeds_path do |f| %>
  <%= f.error_messages %>
  <div class='field'>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>
  <div class='field'>
    <%= f.label :story %><br/>
    <%= f.text_area :leaf_text %><br/>
  </div>
  <div class='action'>
    <%= f.submit 'Plant' %>
  </div>
<% end %>
