<h1>Plant Seed</h1>

<%= form_for @seed do |f| %>
  <%= f.error_messages %>
  <%= f.fields_for :seed_detail, @seed_detail do |d| %>
    <%= d.label :title %><br/>
    <%= d.text_field :title %><br/>
    <br/>
  <% end %>
  <%= f.label :story %><br/>
  <%= f.text_area :leaf_text %><br/>
  <br/>
  <%= f.submit 'Plant' %>
<% end %>
