<h1>Plant Seed</h1>

<%= form_for(@seed) do |f| %>
  <%= f.error_messages %>
  <%= f.label :title %><br/>
  <%= f.text_field :title %><br/>
  <br/>
  <%= f.label :branch_length %><br/>
  <%= f.text_field :branch_length %><br/>
  <br/>
  <%= f.label :leaf_length %><br/>
  <%= f.text_field :leaf_length %><br/>
  <br/>
  <%= f.label :double_posting %><br/>
  <%= f.check_box :double_posting %><br/>
  <br/>
  <%= f.label :story %><br/>
  <%= f.text_area :story %><br/>
  <br/>
  <%= f.submit 'Plant' %>
<% end %>
