<h1><%= @forest.name %></h1>

<p><%= @forest.description %></p>

<%= link_to 'Plant New Seed', new_forest_seed_path(@forest.id) %><br/>
<br/>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Points</th>
  </tr>
  <% @forest.seeds.each do |seed| %>
  <tr>
    <td><%= link_to seed.seed_detail.title, forest_seed_leaf_path(seed.id, seed.id) %></td>
    <td><%= seed.leaf_text %></td>
    <td><%= seed.author.name %></td>
    <td><%= seed.points %></td>
  </tr>
  <% end %>
</table>
