<!DOCTYPE html>
<html>
<head>
  <title>Storytree</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js' %>
  <%= javascript_include_tag 'rails.js', 'application.js' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><%= link_to 'Story Tree', root_path %></h1>
			<p>grow something together</p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Forests', forests_path %></li>
			<li><%= link_to 'About', root_path %></li>
			<li><%= link_to 'Contact Us', root_path %></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
    <%= render 'user_sessions/login' %>
		<div id="content">
		  <div id='notice'><%= flash[:notice] %></div>
      <%= yield %>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<!-- end #wrapper -->
<div id="footer-content">
	<p>(c) 2011 Storytree</p>
</div>
<div id="footer">
</div>
</body>
</html>
